/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 2 oct 2023, 11:47:34
    Author     : sagomezmartinez
*/

.test
{
    color: red;
}

#toTopButton
{
    background-color: teal;
    width: 120px;
    height: 30px;
    padding: 10px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    text-align: center;
    display: none;
 
    
}
#toTopButton:hover
{
    color: red;
}

#info
{
    position: fixed;
    right: 0;
    bottom: 0;
}

.thumbnail
{
    width: 60px;
}
#mainImage
{
    width: 350px;
    height: 263px;
    margin-bottom: 10px;
}
.thumbnail:hover
{
    border-bottom: 2px solid red;
    margin-bottom: -2px;
}
.current
{
    border-bottom: 2px solid red;
    margin-bottom: -2px;    
}
#tooltipContainer
{
    border-bottom: 3px solid #eee;
    background-color:#f7f5d0;
    position: absolute;
    font-size: 10px;
    padding: 5px;
    position: absolute;
    display: none;
    
}